.headerImage {    
    opacity: 0.6; 
    height: 100vh; 
    object-position: center; 
    object-fit: cover;
    width: 100%;
    z-index: 2;
}


.section {
    position: relative;
    background-color: #1c1c1c;
    z-index: 1;
}


.make {
    color:#ffffff;
    text-shadow: 1px 1px 1px #1c1c1c;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10%;
    z-index: 99;
}

.make h2 {
    text-transform: uppercase;
    font-size:8vw;
}

.make p {
    border-left: 1vw solid #ffef00;
    padding-left: 2vw;
    font-size:2vw;
}

/* @media only screen and (max-width: 600px) {
    .homeHeader {
        background-image: url("../images/Venice_Mobile.png");
        background-color: #fff679;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
} */