html {
    background-color: lavenderblush;
}

.container {
    background-color: white !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.item {
    flex-grow: 1;
}

.about {
    display: flex;
    flex-grow: 3 !important;
    justify-content: flex-end;
    position: relative;
}

.content {
    width: 75%;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.headerImage {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .headerImage {
        display: none;
    }

    .about {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .content {
        width: 100%;
        text-align: left;
        position: relative;
        top: 0;
        transform: translate(0, 0);
    }
}
