.header {      
      position: absolute;
}

.logo {
    padding: 1em 0 1em 1em;
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.blog {
    color: #ffffff;
    align-self: flex-end;
    padding: 1em 1em 1em 0;
    font-size: 1vw;
    font-weight: 400;
}