.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.section h1 {
    text-transform: uppercase;
    font-size:2em;
    background-color: #422057FF;
    color: #FCF951FF;
    padding: 0 1em;
}

.section p {
    padding: 0.5em 1em;
    text-align: left;
}

.socials {
    display: inline-flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    width: 50%;    
}

.socials ul {
    list-style: none;
}

.socials li {
    display: inline-block;
}
.socials svg {
    width: 3em;
    fill: #422057FF !important;
}

@media screen and (max-width: 768px) {
    .socials {
        width: 100%;
    }

    .section p {
        padding: 2em 0;
    }
}