.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #ffef00;
    color: #1c1c1c;
    border-top: 1em solid #1c1c1c;
}

.logo {
    font-weight: 600;
    text-transform: uppercase;
    font-size:3vw;
    background-color: #1c1c1c;
    color: #ffef00;
    padding: 0.5em 1em;
}

.socials {
    display: inline-flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.socials ul {
    list-style: none;
}

.socials li {
    display: inline-block;
}
.socials svg {
    width: 3em;
}