.footer {      
    display: flex;
    width: 100%;
    padding: 1em;
    top: 0;
    background-color: #422057FF;
}

.logo {
  font-weight: 600;
  text-transform: uppercase;
  font-size:1.5em;
  color: #FCF951FF;
  padding: 1em;
}

.logo a {
  color: #FCF951FF;
  text-decoration: none;
}

.socials {
  fill: #ffffff;
  padding: 1em 1em 1em 0;
  font-size: 1em;
  font-weight: 400;
  margin-left: auto;
}

.socials a {
  fill: #ffffff;
  text-decoration: none;
  padding: 0 0.5em;
}

.socials ul {
    list-style: none;
}

.socials li {
    display: inline-block;
}
.socials svg {
    width: 3em;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
  .logo {
      font-size:1em;
      width: 100%;
      text-align: center;
  }
  
  .socials {
      font-size: 1em;
      width: 100%;
      text-align: center;
      padding: 1em 0;
  }
}